<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!DOCTYPE html>
<html>
<head>
    <title>Giriş Yap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Giriş Yap</h1>
        <div class="row">
            <div class="col-md-6">
                <form action="/Login">
                    <div class="form-group">
                        <label for="username" class="font-weight-bold">Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="username" placeholder="Kullanıcı Adınızı Giriniz">
                    </div>
                    <div class="form-group">
                        <label for="password" class="font-weight-bold">Şifre</label>
                        <input type="password" class="form-control" id="password" placeholder="Şifrenizi Giriniz">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
