<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Duyarlılık için meta etiketi -->
    <!-- CSS dosyalarını ekleyebiliriz -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Ek CSS dosyaları burada eklenebilir -->
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <!-- JavaScript dosyalarını ekleyebiliriz -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Ek JS dosyaları burada eklenebilir -->
</body>
</html>
