<!DOCTYPE html>
<html>
<head>
    <title>Ana Sayfa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h1>Welcome to the Home Page</h1>
        <p>Click the buttons below to navigate:</p>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="/Product/ProductList" class="btn btn-primary btn-block mb-3">Product List</a>
                <a href="/Product/ProductDetail" class="btn btn-primary btn-block mb-3">Product Detail</a>
                <a href="/Cart/Cart" class="btn btn-primary btn-block mb-3">Cart</a>
            </div>
            <div class="col-md-4">
                <a href="/Payment/Payment" class="btn btn-primary btn-block mb-3">Payment</a>
                <a href="/Account/Login" class="btn btn-primary btn-block mb-3">Account</a>
                <a href="/Order/OrderHistory" class="btn btn-primary btn-block mb-3">Order History</a>
                
            </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="col-md-4">
                <h2>Kampanyalar</h2>
                <!-- Kampanyalı ürünler veya indirim bilgileri burada listelenebilir -->
            </div>
            <div class="col-md-4">
                <h2>İletişim</h2>
                <p>Bize ulaşın veya canlı destek alın</p>
                <a href="/Account/Login" class="btn btn-primary">Giriş Yap</a>
                <a href="/Account/Signup" class="btn btn-secondary ml-2">Kaydol</a>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
