
@{
    ViewBag.Title = "Fatura";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

@model int




<div class="container" style=" display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="content">
        <h4> Tutarınız: $@Model</h4>


        <img src="~/images/onay.png" />


    </div>
</div>